<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>home</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr class="sticky-header">
                        <th>STT</th>
                        <th>X</th>
                        <th>Y</th>
                        <th>X <sup>2</sup></th>
                        <th>Y <sup>2</sup></th>
                        <th>
                            XY
                        </th>
                    </tr>
                    <% for (var i=0; i < data[0].length ; i++) {%>
                        <tr>
                            <td>
                                <%=i+1%>
                            </td>
                            <td>
                                <%= data[0].X[i]%>
                            </td>
                            <td>
                                <%= data[0].Y[i]%>
                            </td>
                            <td>
                                <%= data[0].XX[i]%>
                            </td>
                            <td>
                                <%= data[0].YY[i]%>
                            </td>

                            <td>
                                <%= data[0].XY[i]%>
                            </td>
                        </tr>
                        <%}%>
                            <tr>
                                <td>Tổng</td>
                                <td>
                                    <%=  data[0].sumX.value %>
                                </td>
                                <td>
                                    <%=  data[0].sumY.value %>
                                </td>
                                <td>
                                    <%=  data[0].sumXX.value %>
                                </td>
                                <td>
                                    <%=  data[0].sumYY.value %>
                                </td>
                                <td>
                                    <%=  data[0].sumXY.value %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Trung Bình
                                </td>
                                <td>
                                    <%=  data[0].avgX.value %>
                                </td>
                                <td>
                                    <%=  data[0].avgY.value %>
                                </td>
                                <td>
                                    <%=  data[0].avgXX.value %>
                                </td>
                                <td>
                                    <%=  data[0].avgYY.value %>
                                </td>
                                <td>
                                    <%=  data[0].avgXY.value %>
                                </td>
                            </tr>


                </table>
                <div class="col-md-12">
                    <h1 style="text-align: center; background-color: yellow">
                        r:
                        <%= data[0].r.value %>
                    </h1>

                </div>

            </div>

        </div>

    </div>
</body>

</html>